<div class="facetly-typeahead">
  <div class="facetly-typeahead-selected" ng-show="showSelected">
    <span ng-repeat="value in selected">
      <a class="facetly-icon facetly-text-danger" href="" tabindex="-1" ng-click="removeSelected(value)">&times;</a> {{value}}
    </span>
  </div>

  <input
    class="facetly-form-control"
    type="text"
    ng-model="query"
    ng-focus="showSuggestions=true"
    ng-click="showSuggestions=true"
    placeholder="{{placeholder}}">

  <div class="facetly-typeahead-suggestions" ng-if="showSuggestions && (!listMaxItems || (listMaxItems && listMaxItems >= suggestions.length))">
    <ul>
      <li class="facetly-suggestion" ng-class="{'last': $last}" ng-repeat="suggestion in suggestions track by $index"
        ng-class="{'selected': suggestions.indexOf(suggestion) === selectedIndex}"
        ng-mouseenter="updateSelectedIndex(suggestions.indexOf(suggestion))">
          <a href="" ng-click="addSuggested(suggestion)">
            <span ng-if="allowMultiselect && selected.indexOf(suggestion) !== -1">&#10004;</span>
            <span ng-bind-html="suggestion | facetlyHighlight:query"></span>
          </a>
      </li>
      <li class="last" ng-show="query.length && !suggestions.length && !hideNotFound">
        <span>No match found...</span>
      </li>
    </ul>
  </div>
</div>
