<div class="facetly">
  <div class="facetly-search">
    <div class="facetly-searchbox">
      <ul class="facetly-filters">
        <facetly-filter
          ng-repeat="filter in filters"
          filter="filter"
          list-max-items="options.listMaxItems"
          on-filter-remove="removeFilter(id)"
          on-do-search="search()"
          should-focus="filters.indexOf(filter) === focusIndex" />
      </ul>

      <facetly-typeahead
        ng-show="filters.length !== facets.length"
        query="query"
        facets="typeaheadSuggestions"
        hide-not-found="options.defaultFacet && !filters.length"
        reset-on-select="true"
        do-not-force-options="true"
        on-select="addTypeaheadSuggestion(value)"
        placeholder="{{options.placeholder}}" />
    </div>

    <div class="facetly-buttons">
      <a href="" class="facetly-button facetly-button-success" ng-click="search()">Search</a>
      <a class="facetly-button facetly-button-danger" href="" ng-if="filters.length" ng-click="removeAllFilters()">Remove all</a>
    </div>
  </div>

  <p class="facetly-hint-text facetly-text-gray">Hint: You can use advanced search keywords to more easily find what you’re looking for. <a href="" ng-click="showFacets=!showFacets">What keywords can I use?</a></p>

  <p class="facetly-hint-text facetly-text-danger" ng-show="errors.length">
    Please correct the following errors before continuing:
    <ul>
      <li ng-repeat="error in errors" ng-bind="error"></li>
    </ul>
  </p>

  <ul class="facetly-facets" ng-show="showFacets">
    <li ng-repeat="facet in facets | filter:availableFacets">
      <a class="facetly-facet" href="" title="" ng-click="addFilter(facet)" ng-bind="facet.label"></a>
    </li>
  </ul>
</div>
